body{
    background: rgb(255,252,12);
    background: radial-gradient(circle, rgba(255,252,12,1) 50%, rgba(255,180,180,1) 100%);
}

h1{
    font-size: 50px;
    font-family: Brush Script MT;
    color: rgb(226, 83, 0);
}

button{
    width: 100px;
    height: 100px;
    background-color: rgb(174, 174, 248);
    border: 3px ridge lightblue;
    border-radius: 100%;
}

#i{
    margin: 20px;
}

#f{
    background-image: url("blah.jpg");
    background-size: cover;
    background-position: center;
}

#h{
    font-size: 50px;
    font-family: Brush Script MT;
    color: black;
}